@charset "utf-8";
/* CSS Document */

.SiYuan-ExtraLight, .Source-Han-Light{
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}

@font-face {
font-family: 'icomoon';
src:url('./fonts/icomoon.eot?-cmvbox');
src:url('./fonts/icomoon.eot?#iefix-cmvbox') format('embedded-opentype'),
url('./fonts/icomoon.woff?-cmvbox') format('woff'),
url('./fonts/icomoon.ttf?-cmvbox') format('truetype'),
url('./fonts/icomoon.svg?-cmvbox#icomoon') format('svg');
font-weight: normal;
font-style: normal;
}

.icon-font{
font-family: 'icomoon';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
vertical-align:middle;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-1-arrowLeft:before {
content: "\e600";
}
.icon-2-arrowRight:before {
content: "\e601";
}
.icon-3-chat:before {
content: "\e602";
}
.icon-4-clearAll:before {
content: "\e603";
}
.icon-5-collapse:before {
content: "\e604";
}
.icon-6-collection:before {
content: "\e605";
}
.icon-7-contact:before {
content: "\e606";
}
.icon-8-delete:before {
content: "\e607";
}
.icon-9-down:before {
content: "\e608";
}
.icon-10-email:before {
content: "\e609";
}
.icon-11-favourite:before {
content: "\e60a";
}
.icon-12-password:before {
content: "\e60b";
}
.icon-13-search:before {
content: "\e60c";
}
.icon-14-setting:before {
content: "\e60d";
}
.icon-15-shoppingCart:before {
content: "\e60e";
}
.icon-16-sina:before {
content: "\e60f";
}
.icon-17-user:before {
content: "\e610";
}
.icon-18-userName:before {
content: "\e611";
}
.icon-19-arrowdown:before {
content: "\e612";
}
.icon-21-close2:before {
content: "\e613";
}
.icon-22-download:before {
content: "\e614";
}
.icon-23-plus:before {
content: "\e615";
}
.icon-24-position1:before {
content: "\e616";
}
.icon-25-position2:before {
content: "\e617";
}
.icon-26-position3:before {
content: "\e618";
}
.icon-27-position4:before {
content: "\e619";
}
.icon-28-position5:before {
content: "\e61a";
}
.icon-29-search2:before {
content: "\e61b";
}
.icon-30-share:before {
content: "\e61c";
}
.icon-31-shoppingCart2:before {
content: "\e61d";
}
.icon-32-layout1:before {
	content: "\e61e";
}
.icon-33-layout2:before {
	content: "\e61f";
}
.icon-34-layout3:before {
	content: "\e620";
}
.icon-35-arrowUp:before {
	content: "\e621";
}

.icon-icon-36-flag:before {
	content: "\e622";
}
.icon-icon-37-plane:before {
	content: "\e623";
}
.icon-icon-38_calculate:before {
	content: "\e624";
}

.icon-38_edit:before {
	content: "\e625";
}
.icon-39-invoice:before {
	content: "\e626";
}
.icon-40-success:before {
	content: "\e627";
}
.icon-41-fail:before {
	content: "\e628";
}
.icon-42-users:before {
	content: "\e629";
}
.icon-43-paid:before {
	content: "\e62a";
}
.icon-44-female:before {
	content: "\e62b";
}
.icon-45-male:before {
	content: "\e62c";
}
.icon-46-createNew:before {
	content: "\e62d";
}
.icon-47-history:before {
	content: "\e62e";
}
.icon-48-set:before {
	content: "\e62f";
}
.icon-49-favFolder:before {
	content: "\e630";

}
.icon-50-trash:before {
	content: "\e631";
}
.icon-51-question:before {
	content: "\e632";
}
.icon-52-eye:before {
	content: "\e633";
}
.icon-53-update:before {
	content: "\e634";
}
.icon-54-shareEmail:before {
	content: "\e635";
}
.icon-55-logOut:before {
	content: "\e636";
}


.icon-56-calendar:before {
	content: "\e637";
}

.icon-57-bag:before {
	content: "\e638";

}
.icon-58-priceTag:before {
	content: "\e639";
}
.icon-59-saveSearch:before {
	content: "\e63a";
}
.icon-60-imgIndex:before {
	content: "\e63b";
}

.icon-61-sun:before {
	content: "\e63c";
}
.icon-62-rocket:before {
	content: "\e63d";
}
.icon-63-diamond:before {
	content: "\e63e";
}
.icon-64-lockOpen:before {
	content: "\e63f";
}
.icon-65-shareDouban:before {
	content: "\e640";
}
.icon-66-shareRenren:before {
	content: "\e641";
}
.icon-67-shareQQ:before {
	content: "\e642";
}
.icon-68-shareWeibo:before {
	content: "\e643";
}
.icon-69-shareWechat:before {
	content: "\e644";
}
.icon-70-shareEmail:before {
	content: "\e645";
}
.icon-fast-forward:before {
	content: "\e055";
}
.icon-plus:before {
    content: "\e114";
}
.icon-minus:before {
    content: "\e115";
}
.icon-check:before {
    content: "\e116";
}
.icon-cross:before {
    content: "\e117";
}

*:focus {
outline: 0;
}

img{
border:none;
padding:0;
margin:0;
max-width:100%;
height:auto;
vertical-align:middle; 
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
font-family: inherit;
font-weight:normal;
line-height: 1.1;
color: inherit;
margin:0;
}

h1,
.h1 {
font-size: 36px;
}


h2,
.h2 {
font-size: 30px;
}

h2{
 line-height:34px;
}

h2 .icon-font{
 vertical-align:bottom;
 padding:0 10px 0 0;
 color:#6031ba;
}
.pageFavourite h2{
 margin-bottom:25px;
}


h3,
.h3 {
font-size: 24px;
}
h4,
.h4 {
font-size: 18px;
}
h5,
.h5 {
font-size: 16px;
}
h6,
.h6 {
font-size: 14px;
}
.font11{
font-size: 11px; 
}
.font12{
font-size: 12px; 
}
.fontGrey{
 color:#7d7d7d;
}

a{
blr:expression(this.onFocus=this.blur());
text-decoration:none;
color:#323233;

-webkit-transition:all 0.3s;
-moz-transition:all 0.3s;
-o-transition:all 0.3s;
transition:all 0.3s;
}

a:focus{
-moz-outline-style: none;
}

a:hover{
text-decoration:none;
}


.clear{
clear:both;
line-height:0px;
font-size:0px;
height:0px;
overflow:hidden;
}

.left{
float:left; 
}

.right{
float:right; 
}

.clearBoth:before,
.clearBoth:after{
content: " ";
display: table;
clear:both;
}
.test2{
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

-webkit-box-shadow: #CCC 0 0 10px;
-moz-box-shadow: #CCC 0 0 10px;
box-shadow: #CCC 0 0 10px;

-webkit-transition:all 0.3s;
-moz-transition:all 0.3s;
-o-transition:all 0.3s;
transition:all 0.3s;


filter:alpha(opacity=0);
-moz-opacity:0;
-khtml-opacity: 0;
opacity: 0;
}

textarea{
 resize:none;
 overflow:auto;
}

.inputHidden{
width:0;
height:0;
line-height:0;
font-family:0;
overflow:hidden;
}

.btnToggle{
width:50px;
height:26px;
display:inline-block;
border:1px #d7d7d7 solid;
background:#fff;
padding:4px 5px;
cursor:pointer;
vertical-align:middle;
margin:0 10px;

-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}


.btnToggle:before{
content:"";
display:block;
float:left;
width:16px;
height:16px;
background:#f0f0f0;
border:1px #d7d7d7 solid;

-webkit-transition:all 0.3s;
-moz-transition:all 0.3s;
-o-transition:all 0.3s;
transition:all 0.3s;

-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}


.btnToggle:hover, .btnToggle:hover:before{
border:1px #6031ba solid;
}
.btnToggle.active, .btnToggle.active:before{
border:1px #6031ba solid;
}
.btnToggle.active:before{
float:right;
}



.selectStyle .disable{
 border-color:#999999!important;
 color:#999999!important;

}
/*
span.customSelect{
height: 34px;
line-height: 34px;
margin-top: -34px;
padding:0 34px 0 15px;
position:relative;
z-index:1;
}*/
/*
span.customSelect:after{
content: "\e612";
font-family: 'icomoon';
width:34px;
height:34px;
text-align:center;
line-height:34px;

position:absolute;
right:0;
top:0;
z-index:1;
}

.hasCustomSelect {
position: relative;
z-index: 3;
width: 100%;
cursor:pointer;
height:34px;
line-height:28px;
}
.customSelectInner {
width: 100%;
height:100%;
overflow:hidden;
}*/

.dropDownWrap{
 position:relative;
}

.dropDownWrap .dropDownBtn{
cursor:pointer;
height:36px;
}


.dropDownWrap .dropDownPanel{
 display:none;
 position:absolute;
 left:0;
 top:34px;
 background:#fff;
}



.dropDownWrap.expand{
z-index:333; 
}
.dropDownWrap.expand .dropDownBtn{
background:#fff;
border:2px #323232 solid;
}

.dropDownWrap.expand .dropDownPanel{
display:block;
border:2px #323232 solid;
width:230px;
padding:8px;
}
.filterPanel .dropDownWrap.expand {
 margin:-5px 0 0 -10px;
}

.filterPanel .dropDownWrap.expand .dropDownBtn {
padding:3px 0 0 8px;
height:41px;
}

/*.searchToolBar .dropDownWrap .dropDownPanel{
display:none;
position:absolute;
right:0;
left:auto;
top:34px;
width:150px;
height:190px;
 border:2px #323232 solid;
}*/





/*.btnWrap.iconWrap{
  border:1px #323232 solid;
  overflow:hidden;
}
.btnWrap.iconWrap .icon-font{
 display:block;
 width:33.333333%;
 float:left;
 text-align:center;
 border:1px #323232 solid;
 padding:4px 0;
 font-size:24px;
}*/

.btnWrap.iconWrap{
    border:2px #323232 solid;
    overflow:hidden;
}

.btnWrap.iconWrap.btns2 a{
 width:50%!important;
}

.btnWrap.iconWrap a{
    display:block;
    width:33.333333%;
    float:left;
    text-align:center;
    border-left:2px #323232 solid;
    padding:4px 0;
    font-size:24px;
}

.btnWrap.iconWrap.twoIcon a{
    width: 50%;
}

.btnWrap.iconWrap a:first-child{
    border-left: none 0;
}


.btnWrap.iconWrap .icon-font:hover{
 background:#7d7d7d;
 color:#fff;
}

.btnGrey{
 background:#7d7d7d;
 color:#fff;
}
.btnGrey:hover{
background:#323232;
}



.btnLong{
  font-size:18px;
   padding:8px;
   margin:25px 0;
}
.btnLong:before{
 font-size:24px;
 font-family:'icomoon';
 display:inline-block;
 margin-right:15px;
}

.btnDGrey{
 background:#323232;
 color:#fff;
}


.btnDGrey:hover{
background:#000;
}

.btnPurple{
 background:#6031ba;
 color:#fff;
 font-size:20px;
line-height: 30px;
padding: 10px 40px;
border:none;

-webkit-transition:all 0.3s;
-moz-transition:all 0.3s;
-o-transition:all 0.3s;
transition:all 0.3s;

}
.btnPurple:hover{
background:#4a1ca1!important;
}


.btn-md{
 line-height:34px;
 height:34px;
 padding:0 20px;
 font-size:14px;
 vertical-align:middle;
}



.btnShopCart:before{
 content: "\e60e";
 font-family: 'icomoon';
 font-size:26px;
 line-height: 30px;
 padding:0 10px 0 0;
}



.pageNumWrap{
 position:relative;
  font-size:26px;
  overflow:hidden;
}

.pageSearch .searchResultFooter{
  display:none;
}

.pageNumWrap .btnPrev{
 float:left;
 width:90px;
 height:90px;
 background:#cccccc;
  position:relative;
 z-index:3;
 text-align:center;
 vertical-align:middle;
 padding-top:25px;
}
.pageNumWrap .targetNum{
 float:left;
 width:100px;
 height:90px;
 border:1px #cccccc solid;
 position:relative;
 z-index:3;
 text-align:center;
 color:#8c8c8c;
 line-height:90px\0;
}

.pageNumWrap .btnNext{
 position:absolute;
 width:100%;
 height:90px;
 padding:25px 0px 0 210px;
 z-index:1;
 background:#323232;
 left:0;
 top:0;
 color:#fff;

}

.pageNumWrap .btnPrev:hover, .pageNumWrap .btnNext:hover{
 background:#7d7d7d;
}


.pageNumWrap .left{
 
}
.pageNumWrap .right{
 
}

.pageNumWrap .right:after{
 font-family: 'icomoon';
 content: "\e601";
 padding:0 20px;
}





.progress{
width:100%;
height:10px;
margin-bottom:20px;
border:1px #d7d7d7 solid;

-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}


.progress-bar-Weak{
 background:#fc6448;
}

.progress-bar-Medium, progress-bar-Normal{
 background:#ffe464;
}

.progress-bar-Strong, .progress-bar-VeryStrong{
 background:#00ad7d;
}

/*
.password-verdict{
 display:none;
}
*/

.border{

}

.lbWrap{
  padding:40px;
}

.lbWrap h2{
 padding-bottom:30px;
}


.lbWrap .intro{
 font-size:16px;
 padding-bottom:30px;
}



.lbWrap .form-group{
 margin-bottom:0;
}


.lbWrap .control-label{
font-size:16px;
}



.linkBreak{
 word-wrap:break-word;
}


 
.checkSub{
 padding-left:30px;
}



.pageHeaderWrap{
 text-align:center;
}


.pageHeaderWrap .header{
  font-size:48px;
}

.pageHeaderWrap .headerSub{
 font-size:24px;
 line-height:140%;
 margin:15px 0 20px 0;
}




.mlt-image{
 position:absolute;
 left:2px;
 top:2px;
 max-width:140px;
 height:92px;
 overflow:hidden;
 display:none;
}


.mlt-image img{
 height:100%;
 width:auto;
}

.mlt-image .icon-8-delete{
background: none repeat scroll 0 0 #323232;
color: #FFFFFF;
cursor: pointer;
height: 20px;
line-height: 20px;
position: absolute;
right: 0;
text-align: center;
top: 0;
transition: all 0.3s ease 0s;
width: 20px;
z-index:9;
}









.tab-login{
background:none;
border: none;
padding:0;
margin:-50px -50px 40px -50px; 
}

.tab-login > li {
margin-bottom:0px;
width:50%;
}


.tab-login > li > a {
border: none;
margin-left: 0px;
padding: 20px 30px;
width: auto;
color:#fff;
background:#3b3b3b;
text-align:center;
}

.tab-login > li.active a {
border: none;
background:none;
}


.tab-login > li > a:hover{
 background:#494949;
}

.tab-login > li.active a:hover {
background:none;
color:#fff;
}

.hoverShowTarget{

}


@font-face {
	font-family: 'gaopinIcon';
	src:url('fonts/gaopinIcon.eot?cyltpb');
	src:url('fonts/gaopinIcon.eot?#iefixcyltpb') format('embedded-opentype'),
	url('fonts/gaopinIcon.woff?cyltpb') format('woff'),
	url('fonts/gaopinIcon.ttf?cyltpb') format('truetype'),
	url('fonts/gaopinIcon.svg?cyltpb#gaopinIcon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.gaopinIcon {
	font-family: 'gaopinIcon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.gaopinIcon-Art:before {
	 content: "\e601";
 }

.gaopinIcon-Documentary:before {
	content: "\e602";
}

.gaopinIcon-History:before {
	content: "\e603";
}

.gaopinIcon-webcam:before {
	content: "\e600";
}





